@import '../../styles/1_settings/sizes';
@import '../../styles/2_tools/viewports';

.header {
    width: 100%;
    background: var(--color-primary);

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        margin: 0 auto;

        @include resize-to(large) {
            width: 90%;
        }
    }

    &__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    &__profileWrapper {
        padding-left: 0.5rem;
    }

    &__profileText {
        margin: 0;
        color: var(--color-lighterAlt);

        &.--name {
            font-size: 1rem;
        }
        &.--role {
            font-size: 0.8rem;
            margin-top: 0.2rem;
            font-style: italic;
        }
    }
    
    &__logo {
        cursor: default;
    }

    &__logoText {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        margin: 0;
        color: var(--color-lighterAlt);
    }   
}       
