:root {

    --color-neutralLighterAlt:       #faf9f8;
    --color-neutralLighter:          #f3f2f1;
    --color-neutralLight:            #edebe9;
    --color-neutralQuaternaryAlt:    #e1dfdd;
    --color-neutralQuaternary:       #d0d0d0;
    --color-neutralTertiaryAlt:      #c8c6c4;
    --color-neutralTertiary:         #a19f9d;
    --color-neutralSecondary:        #605e5c;
    --color-neutralSecondaryAlt:     #8a8886;
    --color-neutralPrimaryAlt:       #3b3a39;
    --color-neutralPrimary:          #323130;
    --color-neutralDark:             #201f1e;
    --color-black:                   #000000;
    --color-white:                   #ffffff;

    // Theme Colors
    --color-primary:                 #009494;
    --color-lighterAlt:              #f1fbfb;
    --color-lighter:                 #c8eeee;
    --color-light:                   #9cdfdf;
    --color-tertiary:                #4cbfbf;
    --color-secondary:               #13a1a1;
    --color-darkAlt:                 #008585;
    --color-dark:                    #007070;
    --color-darker:                  #005353;
  }