:root {

    --color-neutralLighterAlt:       #faf9f8;
    --color-neutralLighter:          #f3f2f1;
    --color-neutralLight:            #edebe9;
    --color-neutralQuaternaryAlt:    #e1dfdd;
    --color-neutralQuaternary:       #d0d0d0;
    --color-neutralTertiaryAlt:      #c8c6c4;
    --color-neutralTertiary:         #a19f9d;
    --color-neutralSecondary:        #605e5c;
    --color-neutralSecondaryAlt:     #8a8886;
    --color-neutralPrimaryAlt:       #3b3a39;
    --color-neutralPrimary:          #323130;
    --color-neutralDark:             #201f1e;
    --color-black:                   #000000;
    --color-white:                   #ffffff;

    // Theme Colors
    --color-primary:                 #4f6bed;
    --color-lighterAlt:              #f7f9fe;
    --color-lighter:                 #e1e6fc;
    --color-light:                   #c7d1fa;
    --color-tertiary:                #92a4f4;
    --color-secondary:               #627cef;
    --color-darkAlt:                 #4661d5;
    --color-dark:                    #3b52b4;
    --color-darker:                  #2c3c85;
    
  }