.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  bottom: 3.5%;

  @include resize-to(until-small) {
    display: none; 
  }

  &::after {
    border-style: solid;
    border-width: 0.18rem 0.18rem 0 0;
    border-color: var(--color-white);
    content: "";
    display: inline-block;
    height: $space-xs;
    position: relative;
    vertical-align: top;
    width: $space-xs;
    border-radius: 0.18rem;
  }
}

.swiper-button-next {

  @include resize-to(start-from-large) {
    right: $space-xxl;
  }

  @include resize-to(until-large) {
    right: $space-lg;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
  }
}

.swiper-button-prev {
  right: calc($space-xxl + 3rem);

  @include resize-to(start-from-large) {
    right: calc($space-xxl + 3rem);
  }

  @include resize-to(until-large) {
    right: calc($space-lg + 3rem);
  }


  &::after {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}

.swiper-button-disabled {
  opacity: 0.5;
}