.swiper-pagination {
  position: absolute;
  z-index: 10;
  bottom: 5%;

  @include resize-to(start-from-large) {
    left: $space-xxl;
  }

  @include resize-to(until-large) {
    left: $space-lg;
  }

  @include resize-to(until-small) {
    left: $space-sm;
  }
}

.swiper-pagination-bullet {
  background-color: rgb(255 255 255 / 30%);
  width: 5.5rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-block;
  margin-right: $space-sm;

  @include resize-to(start-from-large) {
    width: 8rem;
  }

  @include resize-to(until-large) {
    width: 5.5rem;
  }

  @include resize-to(until-small) {
    width: 4rem;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &.swiper-pagination-bullet-active {
    &::after {
      background-color: var(--color-white);
      content: '';
      height: 0.3rem;
      border-radius: 0.3rem;
      display: flex;
      animation-name: mymove;
      animation-duration: 5s;
      animation-timing-function: linear;
    }
  }
}

@keyframes mymove {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}